#--------OAuth2.0 Client Configuration---------
scope=
grant_type=client_credentials
client_id=demo-pharmacy
client_secret=itsasecret
access_token=
authentication_server_url=http://localhost:5001/connect/token
resource_server_url=http://localhost:5000
#------------------------------------------------
